.total_area button {
  width: 56%;
  margin-left: 3%;
  padding: 4px;
  border: none;
  background-color: #1785F2;
  outline: none;
  border-radius: 5px;
  color: white;
}

input {
  margin: 20px 0px 20px 10px;
  width: 30%;
  padding: 10px;
  border: #ccc solid 1px;
  border-radius: 5px;
  outline: none;
}

.total_area {
  background-color: white;
  width: 1450px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

 
}
.total_position{
  margin-left: 10%;
}

.upper {
  width: 1440px;
  height: auto;
  background-color: white;
  display: flex;

}

.profile_area {
  margin-left: 50px;
  width: 33%;
  height: 700px;
  background-color: white;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* 수직 가운데 정렬 */
  align-items: center; /* 수평 가운데 정렬 */
}

.profile_img_sec {
  
  width: 240px;
  height: 240px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

.profile_img_sec img {
  width: 100%;
  height: auto;
  object-fit: cover;
}



.profile_fix_but {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.insert_area {
  width: 61%;
  height: 700px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  
}


.mypage_id_insert_sec {
  width: 80%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* 왼쪽 정렬 */
  justify-content: center;
  padding: 10px; /* 내용과의 간격을 위한 패딩 추가 */
}

.mypage_id_insert_sec h2 {
  margin: 0px 0px; /* h2 태그의 위아래 여백 조정 */
  margin-right: 45%;
  align-items: flex-start; /* 왼쪽 정렬 */

}
.insert_area_id{
  width: 100%;
}
.mypage_id_insert_sec input {
  margin: 10px 10px;
  width: 60%;
}

.insert_area_id{
  margin-bottom: 30px;

}
.email_area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* 내용을 세로로 정렬하기 위해 추가 */
  background-color: white;
  height: 500px;
}

.mypage_insert_email_footer {
  width: 90%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  margin-left:7% 
}
.email_footer_head{
  background-color: white;
}

.email_footer_body {
  background-color: white;
  display: flex;
  flex-direction: column;


  background-color: white; text-align: left; 


}

.email_footer_body input {

  
  margin-bottom: 10px;
  width: 40%;
  height: 30%;
}

.email_footer_body button {
  width: 130px;
  margin: 20px 0px 30px 40px;
  width: 10%;
  padding: 10px;
  border: #ccc solid 1px;
  border-radius: 5px;
  outline: none;
  background-color: white;
  color: gray;
  
}

.email_footer_body button + input {
  margin-left: 10px;}